{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Alta Hoja de Ruta</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar y Agregar Clientes" class="btn btn-primary" />
    {{ form_end(form) }}
    
    <a href="{{ path('hojaruta_index') }}" class="btn btn-default" >Volver</a>
       
{% endblock %}
