{% extends 'base.html.twig' %}

{% block body %}
    
    <a class="nav-link" href="{{ asset('/downloadapk') }}" > 
        
    <img src="{{ asset('/uploads/images/downloadandroid.jpg') }}">
    </a>
    
    <a href="https://github.com/ezgatrabajo/pedidosapk/blob/master/app-debug.apk">
    <img src="{{ asset('/uploads/images/github-mark.jpg') }}">
    <a/>
        
{% endblock %}
