
parameters:
    database_host: 72.55.165.119
    database_port: 2082
    database_name: symfony
    database_user: apppedidos
    database_password: zcHCym3w.Fo~
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: ezgatrabajo@gmail.com
    mailer_password: nbngwsflrinzkxxq
    secret: ThisTokenIsNotSoSecretChangeIt