{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    
    <p>Fue enviado el mail de confirmación a su casilla de correo, por hacer click en el Link de confirmación.</p>
    
{% endblock fos_user_content %}
