{# empty Twig template #}
<b> Estructura del archivo </b>

<div class="row">
    <table class="table">  
    {% for item in data %}

        {{item['nombre']}}

    {% endfor %}    
    </table>
</div>
